
<!-- landing page content -->
<body>
  <!-- top sources -->
  <h3>Top Sources</h3>
  {% for source in trending %}
  <div class="sources">
    <form action="POST">
      <span>{{ source.category }}</span>
      <ul>
        <li>
          <input type="checkbox" name="news-source" id="sourceName" />
          <label for="sourceName">
            <a href="{{ source.url }}">{{ source.name }}</a></label
          >
        </li>
      </ul>

      <!-- <input type="submit" value="search"> -->
    </form>
  </div>
  {% endfor %}

  <!-- articles section-->
  <h3>Articles</h3>
  {% for article in articles %}
  <div class="articles">
    <!-- <img src="{{  article.urlToImage }}" style="width: 200px; height: 200px;" alt="" /> -->
    <p>{{ article.title }}</p>
    <span><i>{{ article.content }}</i></span>
    <em>{{ article.publishedAt}}</em>
  </div>
  {% endfor %}
  <!-- articles section end-->
</body>
<!-- landing page content end -->
